.App {
  background-repeat: no-repeat;
  min-height: 100vh;
  /* Gradient Animation  */
  background-image: var(--gradient);
  background-size: 600%;
  animation: bg-animation 7s infinite alternate;
  }

  @keyframes bg-animation {
    0% {background-position: left;}
    0% {background-position: right;}
    100% {background-position: left;}
  }

.container{
  height:100vh;
  overflow: hidden;
}

.pText{
  font-size: x-large;
  color: #ffffff;
}

.navClass {
  background-color: transparent;
  font-family: MyFont;
  font-variant: small-caps;
  text-decoration: underline 2px #000000;
  border-radius: 1px;
  font-size: 50px;
  
}

.navLink{
  color: black;
  text-decoration: underline 2px black;
  margin-left: 15px;
}

.navLink:hover{
  color: rgb(0, 255, 30);
}

 .homeBTN {
  margin-right: 9px;
  border-radius: 45%;
  margin-left: 5px;
  color: #ffffff;
  border-color: #19fa00;
  background: none;
  background-color: transparent;
  outline: none;
 }

.nav-link {
  color: #ff0202;
  padding: 5px;
  margin-right: 5px;
}

.navClass {
  background-color:rgb(32, 255, 2)133, 242;
}

 

.footBar {
  background-color:#000000;
}

.welcomeCon {
  max-height: 75vh;
  display:flexbox;
  
}

.welcomeCon h1 {
  display: flex;
  font-family: MyFont;
  font-variant: small-caps;
}

.WelcomeImg img {
  object-fit: fill;
  max-height: 50vh;
  max-width: 50vh;
  border-radius: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.welcomeText{
  background-color: #000000;
  border-radius: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  outline-width: 5px;
}

.HeaderText{
  color: rgba(255, 255, 255, 0.51);
  text-decoration: underline;
}
 
